version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    directory: "/java"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/typescript"
    schedule:
      interval: "daily"
  - package-ecosystem: "pip"
    directory: "/python"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "/go"
    schedule:
      interval: "daily"
  - package-ecosystem: "nuget"
    directory: "/csharp"
    schedule:
      interval: "daily"
  - package-ecosystem: "bundler"
    directory: "/ruby"
    schedule:
      interval: "daily"
  - package-ecosystem: "composer"
    directory: "/php"
    schedule:
      interval: "daily"
