[submodule "uritemplate-test"]
	path = uritemplate-test
	url = https://github.com/uri-templates/uritemplate-test.git
[submodule "csharp"]
	path = csharp
	url = https://github.com/std-uritemplate/std-uritemplate-csharp.git
